<div class="container">
  <h2>註冊帳號</h2>
  <form href="index.html">
      <div class="form-group">
          <label for="account">帳號</label>
          <input type="text" id="account" name="account" required>
      </div>
      <div class="form-group">
          <label for="password">密碼</label>
          <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
          <label for="username">使用者名稱</label>
          <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
          <label for="firstname">名字</label>
          <input type="text" id="firstname" name="firstname" required>
      </div>
      <div class="form-group">
          <label for="lastname">姓氏</label>
          <input type="text" id="lastname" name="lastname" required>
      </div>
      <div class="form-group">
          <label for="email">電子郵件</label>
          <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
          <label for="id">台灣身分證</label>
          <input type="text" id="id" name="id" required>
      </div>
      <div class="form-group">
          <label for="birthday">生日</label>
          <input type="date" id="birthday" name="birthday" required>
      </div>
      <input type="submit" value="註冊" >
  </form>
</div>
